body {
  font-family: "Lato", sans-serif;
}

.navbar-brand {
  font-size: 30px;
  font-weight: bold;
}

.avatar {
  max-width: 35%;
  max-width: 180px;
}

#general-info-section {
  margin-top: 150px;
  margin-bottom: 100px;
  text-align: center;
}

a i {
  margin-right: 5px;
}

a.btn {
  color: #fff;
}

a.btn:hover {
  color: #fff;
}
