body {
  font-family: "Lato", sans-serif;
}

.navbar-brand {
  font-size: 30px;
  font-weight: bold;
}

.avatar {
  max-width: 35%;
  max-width: 180px;
}

#general-info-section {
  margin-top: 150px;
  margin-bottom: 70px;
  text-align: center;
}

a i {
  margin-right: 5px;
}

a.btn {
  color: #fff;
}

a.btn:hover {
  color: #fff;
}

p {
  font-size: 1.2em;
}

.section-header {
  border-bottom: 2px solid#2C3E50;
}

.section-header i {
  font-size: 2.5em;
  margin-right: 10px;
  color: #18bc9c;
}
